{% extends "template.html" %}
{% block title %} Welcome {% block title %}
{% block body %}
<div class="grid-container">
  <div class="grid-x grid-padding-x">
    <div class="large-12 cell">
      <h1>EncycloCinema</h1>
    </div>
  </div>
  <div>
  <form>
    <div class="grid-x grid-padding-x">
      <div class="large-3 medium-3 cell">
        <label>Search by...</label>
        <select>
          <option value="name">Movie Name</option>
          <option value="date">Date of Release</option>
          <option value="cast">Cast Member</option>
          <option value="genre">Genre</option>
        </select>
      </div>
    </div>
    <div class="grid-x grid-padding-x">
      <div class="large-3 medium-3 cell">
        <input type="text" placeholder="Search" />
        <a href="#" class="success button">Search</a>
      </div>
    </div>
  </form>
  </div>
</div>
{% endblock %}
