{% extends "hometemp.html" %}
{% block title %} Welcome | Register {% endblock %}
{% block dropdown %}
<div class="top-bar">
  <div class="top-bar-right">
    <form action="/create_account_action" method="POST">
      <label for="username">Username: </label>
      <input type="text" name="username" maxlength="25" required>
      <br>
      <label for="password">Password: </label>
      <input type="password" name="password" maxlength="25" required>
      <br>
      <label for="password_check">Retype password: </label>
      <input type="password" name="password_check" maxlength="25" required>
      <br>
      <input type="submit" name="action" value="Create Account">
    </form>
  </div>
</div>
{% endblock %}
