{% extends "template.html" %}
{% set msgs = get_flashed_messages() %}
{% block title %} Login {% endblock %}
{% block body %}
{% for msg in msgs %}
<p style="color: red">{{msg}}</p>
{% endfor %}

<form>
	<div class="grid-x grid-padding-x">
		<div class="large-6 columns cell">
			<label>Username
				<input type="text" placeholder="large-6.columns" />
			</label>
		</div>
		<div class="large-6 columns cell">
			<label>Password
				<input type="password" placeholder="large-6.columns" />
			</label>
		</div>
	</div>
</form> 
  
<form action="/">
    <button type="submit" class="button">Go back</button>
</form>
{% endblock %}
