{% extends "template.html" %}
{% set msgs = get_flashed_messages() %}
{% block title %} Login {% endblock %}
{% block body %}
{% for msg in msgs %}
<p style="color: red">{{msg}}</p>
{% endfor %}
<center>
<h3 class="top-block"> Login </h3>
<form>
	<div class="grid-x grid-padding-x">
		<div class="large-6 columns cell">
			<label class="form-label">Username
				<input type="text" placeholder="username" />
			</label>
		</div>
		<div class="large-6 columns cell">
			<label class="form-label">Password
				<input type="password" placeholder="password" />
			</label>
		</div>
	</div>
</form> 
<br>
<form action="/">
    <button> <a href="/" class="success button"> Submit </a> </button>
</form>
<form action="/">
    <button> <a href="/" class="button"> Go back </a> </button>
</form>
{% endblock %}
</center>
