<!doctype html>
<html class="no-js" lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Movie Title Goes Here</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/foundation/6.5.0/css/foundation.css">
    <script src = "https://cdnjs.cloudflare.com/ajax/libs/foundation/6.5.0/js/foundation.min.js"></script>
    <script src = "https://cdnjs.cloudflare.com/ajax/libs/foundation/6.5.0/js/vendor/jquery.min.js"></script>
  </head>
  <body>
    <div class="grid-container">
      <div class="grid-x grid-padding-x">
        <div class="large-12 cell">
          <h1>Movie Title Goes Here</h1>
		  <img src="#"> Image goes here</img>
        </div>
      </div>
	  <div>
		<h1>Tables</h1>
          <table>
			<tr>
			  <th>Actors</th>
			  <td>Array of Actors</td>
			</tr>
			<tr>
			  <th>Year Released</th>
			  <td>Date</td>
			</tr>
			<tr>
			  <th>Rating</th>
			  <td>rate</td>
			</tr>
			<tr>
			  <th>Gamma</th>
			  <td>June 12, 2001</td>
			  <td>5'4"</td>
			  <td>Blue</td>
			</tr>
		</table> 
	  </div>

      <p><a href="#" class="button">Favorite</a><br/>
    </div>
    <a href="#" class="secondary button">Return</a></p>

    <script src="js/vendor/jquery.js"></script>
    <script src="js/vendor/what-input.js"></script>
    <script src="js/vendor/foundation.js"></script>
    <script src="js/app.js"></script>
  </body>
</html>
