{% extends "template.html" %}
{% block title %} {{title}} {% endblock %}
{% block body %}
<h1> {{title}} </h1>

<article class="grid-container">
    <div class="grid-x grid-padding-y grid-margin-x">
        <div class="cell"> {{description}} </div>
    </div>

    <div class="grid-x grid-padding-y grid-margin-x">
        <div class="cell medium-4"> {{year}} </div>
        <div class="cell medium-4"> {{genre}} </div>
        <div class="cell medium-4"> {{rating}} </div>
    </div>

    <div class="grid-x grid-padding-y grid-margin-x">
        <div class="cell"> {{actors}} </div>
    </div>

    <div class="grid-x grid-padding-y grid-margin-x">
        <div class="cell"> 
            {{author}}
            {{critique}}
        </div>
    </div>

    <div class="grid-x grid-padding-y grid-margin-x">
        <div class="cell medium-6"> {{mposter}} </div>
        <div class="cell medium-6"> {{bposter}} </div>
    </div>
    <a href="#" class="secondary button">Return</a></p>
{% endblock %}
