{% extends "template.html" %}
{% block title %} {{title}} {% endblock %}
{% block body %}
<center>
<h1 class="top-block"> MOVIE {{title}} </h1>

<article class="grid-container">
    <div class="grid-x grid-padding-y grid-margin-x">
        <div class="cell">
			<div class="flip-card card" ontouchstart="this.classList.toggle('hover');">
			<div class="flip-card-inner">
				<div class="flip-card-inner-front">
				  <span>Description:</span>
				</div>
				<div class="flip-card-inner-back">
				  <p class="flip-card-inner-back-text">
            <br> {{desc}} <br>
          </div>
			</div>
		</div>
	</div>
</div>

    <div class="grid-x grid-padding-y grid-margin-x">
        <div class="cell medium-4">
			<div class="flip-card card" ontouchstart="this.classList.toggle('hover');">
			<div class="flip-card-inner">
				<div class="flip-card-inner-front">
				  <span>Year:</span>
				</div>
				<div class="flip-card-inner-back">
				  <p class="flip-card-inner-back-text">
					{{year}}
        </p>
				</div>
			</div>
			</div>
		</div>
		<div class="cell medium-4">
			<div class="flip-card card" ontouchstart="this.classList.toggle('hover');">
			<div class="flip-card-inner">
				<div class="flip-card-inner-front">
				  <span>Genre:</span>
				</div>
				<div class="flip-card-inner-back">
				  <p class="flip-card-inner-back-text">
					{{genre}}
					</p>
				</div>
			</div>
			</div>
		</div>
		<div class="cell medium-4">
			<div class="flip-card card" ontouchstart="this.classList.toggle('hover');">
			<div class="flip-card-inner">
				<div class="flip-card-inner-front">
				  <span>Rated:</span>
				</div>
				<div class="flip-card-inner-back">
				  <p class="flip-card-inner-back-text">
					{{rating}}
					 </p>
				</div>
			</div>
			</div>
		</div>
    </div>

    <div class="grid-x grid-padding-y grid-margin-x">
        <div class="cell">
			<div class="flip-card card" ontouchstart="this.classList.toggle('hover');">
			<div class="flip-card-inner">
				<div class="flip-card-inner-front">
					<span>Actors:</span>
				</div>
                <div class="flip-card-inner-back">
		            {{actors}}
                </div>
            </div>
            </div>
        </div>
    </div>

    <div class="grid-x grid-padding-y grid-margin-x">
        <div class="cell">
            <div class="flip-card card" ontouchstart="this.classList.toggle('hover');">
			<div class="flip-card-inner">
				<div class="flip-card-inner-front">
					<span>Critiques:</span>
				</div>
                <div class="flip-card-inner-back">
		            Read the New York Times Review of {{title}}
                </div>
            </div>
            </div>
        </div>
    </div>

    <div class="grid-x grid-padding-y grid-margin-x">
        <div class="cell medium-6">
				Movie Poster:
        <img src={{mposter}}>
       </div>
        <div class="cell medium-6">
			<img src={{bposter}}>
			Book Poster: </div>
    </div>
    <form action="/">
        <input type="submit" name="action" class="button button-rounded-hover"> Favorite </input>
    </form>
    <form action"/return">
        <input type="submit" name="action" class="button button-rounded-hover"> </input>
    </form>
{% endblock %}
</center>
